*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media only screen and (min-width: 400px) and (max-width: 1050px){
  .wrapper {
    margin: 0px;
    background-color: #E8E8E8;
  }

  /* LOGO & NAV */
  .logobackground {
    display: inline;
    float: left;
    padding-left: 10px;
  }

  .logotext {
    position: absolute;
    top: 116px;
    left: 70px;;
  }

  .nav {
    width: 32%;
    display: inline;
    position: absolute;
    float: right;
  }

  .nav hr:first-child {
    display: none;
  }

  .nav ul {
    float: none;
    width: 70%;
    margin: 0px 10px;
  }

  .nav li {
    width: 100%;
    padding-left: 90px;
  }

  .nav hr {
    width: 65%;
  }

  li:hover {
    color: red;
  }

  .nav .secondline {
    padding: 0 auto;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }

  /* MAIN PARAGRAPH */
  .maincontent {
    padding: 0 0 0 2%;
    width: 100%;
    float: right;
  }

  .maincontent h2 {
    margin: 120px auto 0 auto;
    font-size: 30px;
    line-height: 110%;
  }

  .wrapper {
    position: relative;
    float: right;
    width: 60%;
  }

  /* PICTURES */
  .profilepics {
    width: 100%;
    margin-bottom: 20px;
    float: right;
  }

  .profilepics img {
    margin: 10px;
  }

  .profilepics li:nth-child(odd) {
    margin: 0px;
    float: left;
  }

  /* FOOTER */
  .footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto -26px auto;
    padding: 0px;
  }

  .footer {
    text-align: center;
    font-size: 12px;
    margin: 25px ;

  .footer p {
  line-height: 70%
  }

  .footer a {
    color: maroon;
    text-decoration: none;
  }

  .footer a:hover {
    color: red;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    color: blue;
  }
}
