nav {
  background: white;
  width: 100%; }
  @media (min-width: 760px) {
    nav {
      display: flex;
      opacity: 0.9;
      background: none;
      display: flex;
      justify-content: flex-start; } }

.flex-nav {
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 760px) {
    .flex-nav {
      padding: 10px;
      font-size: 13px;
      justify-content: space-between; } }
  .flex-nav img {
    width: 100px;
    height: 30px;
    margin: 8px auto; }
    @media (min-width: 760px) {
      .flex-nav img {
        justify-content: flex-start;
        margin: 0; } }
  .flex-nav i {
    font-size: 30px; }

.toggleNav {
  font-size: 25px;
  margin-left: 10px; }
  @media (min-width: 760px) {
    .toggleNav {
      display: none; } }

ul {
  display: none; }
  @media (min-width: 760px) {
    ul {
      justify-content: center;
      display: inline;
      justify-content: flex-end; } }

@media (min-width: 760px) {
  li {
    display: inline;
    padding: 0px 5px; }

  li:first-child {
    border: 2px solid white;
    border-radius: 2px;
    padding: 6px 10px;
    margin-right: 10px; } }
.flex-form > *:not([type="date"]) {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.flex-form input[type="submit"] {
  background: #FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color: white; }

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 15px;
  font-size: 13px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none; }
  @media (min-width: 760px) {
    .flex-form > * {
      padding: 5px;
      background: white;
      line-height: 15px;
      font-size: 14px;
      border-radius: 0;
      outline: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.5); } }

.input {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 760px) {
    .input {
      justify-content: flex-end;
      align-items: flex-end; } }

.flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93%; }
  @media (min-width: 760px) {
    .flex-form {
      border: 25px solid rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      flex: 1 1 100%;
      width: 100%;
      margin-top: 200px; } }

input[type="search"] {
  flex-basis: 700px; }
  @media (min-width: 760px) {
    input[type="search"] {
      flex-basis: 100%; } }

.dates {
  display: none; }
  @media (min-width: 760px) {
    .dates {
      display: flex;
      flex-basis: 100%; } }

@media (min-width: 760px) {
  .flex-form > *:last-child {
    border-right: 0; } }
.flex-column {
  text-align: center;
  width: 100%; }

.flex-column h1 {
  font-size: 30px;
  padding: 5px; }

.flex-column p {
  padding-bottom: 40px; }

.newYork {
  background-image: url("../img/newYork.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.juno {
  background-image: url("../img/juno.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.bridge {
  background-image: url("../img/bridge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; }

body {
  background-color: #EDEFED;
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #565A5C; }

footer {
  width: 100%;
  height: 200px;
  background: #2B2D2E;
  margin-top: 40px; }

button, [type="submit"] {
  background: #FF5A5F;
  border: #FF5A5F;
  padding: 10px;
  border-radius: 2px;
  color: white; }

a {
  text-decoration: none;
  color: #FF5A5F; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.start {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  background: white;
  margin-bottom: 94px;
  margin-top: 50px; }

.bird {
  background-image: url("../img/bird.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px; }

.start img {
  max-width: 100%;
  height: 350px; }

.startText {
  text-align: center;
  padding: 100px 20px 30px 20px; }

.startText h1 {
  font-size: 17px; }

.startText span {
  font-size: 30px;
  padding: 15px; }

.startText button {
  padding: 13px;
  margin: 10px; }

.startText p {
  font-size: 11px; }

.title {
  background-image: url("../img/kid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px; }
  @media (min-width: 760px) {
    .title {
      height: 600px;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column; } }

.welcome {
  text-align: center;
  padding-top: 80px; }
  @media (min-width: 760px) {
    .welcome {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150px; } }

.welcome h1 {
  font-size: 60px;
  text-transform: uppercase; }

.welcome p {
  padding-bottom: 20px;
  font-weight: bolder; }

.welcome img {
  display: none; }

/*# sourceMappingURL=application.css.map */
