{{#link-to 'index'}}<h2 id="title">Super Rentals</h2>{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'announcements'}}Announcements{{/link-to}}
<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
</div>


<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer>
