nav {
  background: white;
  @media (min-width: 760px) {
    opacity: 0.9;
    align-items: center;
  }
}

.flex-nav {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.flex-nav img{
  width: 100px;
  height: 30px;
  margin: 8px auto;
}

.toggleNav {
  font-size: 25px;
  margin-left: 10px;
}

ul {
  display: none;
}

.title {
  background-image: url("../img/kid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.welcome {
  text-align: center;
  padding-top: 80px;
}

.welcome h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.welcome p {
  padding-bottom: 20px;
  font-weight: bolder;
}

.welcome img {
  display: none;
}
