.title {
  background-image: url("../img/kid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px;
  @media (min-width: 760px) {
    height: 600px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
  }
}

.welcome {
  text-align: center;
  padding-top: 80px;
  @media (min-width: 760px) {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
}

.welcome h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.welcome p {
  padding-bottom: 20px;
  font-weight: bolder;
}

.welcome img {
  display: none;
}
